---
http_interactions:
- request:
    method: post
    uri: https://qa-api.ukmail.com/Services/UKMAuthenticationServices/UKMAuthenticationService.svc
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8" ?>
        <env:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
          <env:Body>
            <n1:Login xmlns:n1="http://www.UKMail.com/Services/Contracts/ServiceContracts">
              <n1:loginWebRequest xmlns:n2="http://www.UKMail.com/Services/Contracts/DataContracts">
                <n2:Password>badpass</n2:Password>
                <n2:Username>badname</n2:Username>
              </n1:loginWebRequest>
            </n1:Login>
          </env:Body>
        </env:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - '"http://www.UKMail.com/Services/IUKMAuthenticationService/Login"'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><LoginResponse
        xmlns="http://www.UKMail.com/Services/Contracts/ServiceContracts"><LoginResult
        xmlns:a="http://www.UKMail.com/Services/Contracts/DataContracts" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:Errors><a:UKMWebError><a:Code>1025</a:Code><a:Description>You
        have entered an incorrect username or password. If you attempt this more than
        5 times your account will be locked and you will need to reset your password.</a:Description></a:UKMWebError></a:Errors><a:Result>Failed</a:Result><a:Warnings/><a:Accounts
        i:nil="true"/><a:AuthenticationToken i:nil="true"/></LoginResult></LoginResponse></s:Body></s:Envelope>
  recorded_at: Thu, 12 Nov 2015 09:56:19 GMT
recorded_with: VCR 2.9.3
