---
http_interactions:
- request:
    method: post
    uri: https://qa-api.ukmail.com/Services/UKMAuthenticationServices/UKMAuthenticationService.svc
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8" ?>
        <env:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
          <env:Body>
            <n1:Login xmlns:n1="http://www.UKMail.com/Services/Contracts/ServiceContracts">
              <n1:loginWebRequest xmlns:n2="http://www.UKMail.com/Services/Contracts/DataContracts">
                <n2:Password>TEST_PASSWORD</n2:Password>
                <n2:Username>TEST_USERNAME</n2:Username>
              </n1:loginWebRequest>
            </n1:Login>
          </env:Body>
        </env:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - '"http://www.UKMail.com/Services/IUKMAuthenticationService/Login"'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><LoginResponse
        xmlns="http://www.UKMail.com/Services/Contracts/ServiceContracts"><LoginResult
        xmlns:a="http://www.UKMail.com/Services/Contracts/DataContracts" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:Errors/><a:Result>Successful</a:Result><a:Warnings/><a:Accounts><a:AccountWebModel><a:AccountNumber/><a:AccountStatus>ExemptFromStop</a:AccountStatus><a:AccountType>Domestic</a:AccountType><a:AlternativeRefAlias>Alternative
        Reference</a:AlternativeRefAlias><a:CompanyName/><a:ContactNumber/><a:CustomerRefAlias>Customer Reference</a:CustomerRefAlias>
        <a:Postcode/><a:Region>England</a:Region><a:TradingAddress/><a:VATNumber/></a:AccountWebModel></a:Accounts><a:AuthenticationToken>A6E2A754-EC43-4EF8-9E4A-C4090E989780</a:AuthenticationToken></LoginResult></LoginResponse></s:Body></s:Envelope>
  recorded_at: Thu, 28 Apr 2016 14:21:38 GMT
recorded_with: VCR 3.0.1
