---
http_interactions:
- request:
    method: get
    uri: https://services.qa.dhlparcel.co.uk/v2/products/parcels/deliveryProducts?countryCode=USA&doorstepOnly=true&height=15&length=20&recipientAddressType=residential&recipientPostcode=62236&weight=5.23&width=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - ''
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - APIKey Realm = 'APIGateway'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {"Exception":"[
          {
            "errors": [
              {
                "title": " Unable to identify the application for the request",
                "detail": "API Gateway encountered an error. Request Details - Service: ProductsAPI, Operation: /deliveryProducts, Invocation Time: 12:26:18, Date: 15-Dec-2020,  Client IP: 10.217.36.10, User: Default and Application: null"
              }
            ]
          }
        ]"}
  recorded_at: Tue, 15 Dec 2020 12:26:18 GMT
recorded_with: VCR 3.0.3
