---
http_interactions:
- request:
    method: get
    uri: https://services.qa.dhlparcel.co.uk/v2/products/parcels/deliveryProducts?countryCode=USA&doorstepOnly=true&height=15&length=20&recipientAddressType=residential&recipientPostcode=62236&weight=5.23&width=10
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Api-Key:
      - TEST_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"ProductCode":"101","ProductDescription":"Worldwide Air","TransitTimeDescription":"2-3
        days","MaxTransitTime":3,"MinTransitTime":2,"Bulky":false,"BusinessUnitCode":"5","ServicePointDelivery":false,"ServicePointTypeList":[],"CustomsDeclaration":"full","SortOrder":4}]'
  recorded_at: Tue, 15 Dec 2020 12:27:00 GMT
recorded_with: VCR 3.0.3
